[class*='icon-'][class*='aboutMeGuildIcon-'] {
    display: none;
  }
  
  :root {
    --custom-profile-color: rgb(250, 93, 216);
    --custom-profile-color-secondary: rgb(250, 93, 216);
    --custom-profile-gradient: linear-gradient(
      180deg,
      var(--custom-profile-color) 0%,
      var(--custom-profile-color-secondary) 100%
    );
  }
  
  .section-28YDOf > div,
  .container-3g15px,
  .userInfoText-2MFCmH {
    border-radius: 1rem;
    padding: 0.5em;
    border: 3px solid var(--custom-profile-color);
  }
  
  .profileColors-2AgAV4 .containerWithContent-2Yws8V {
    border-radius: 1rem;
    padding: 0.5em;
    border: 3px solid var(--custom-profile-color);
  }
  
  .section-28YDOf > div:not([class*='activityUserPopoutV2-']),
  .container-3g15px,
  .userInfoText-2MFCmH,
  .memberSinceContainer-2CBD23,
  [class*='info-'][class*='nameTag-'],
  img[class*='emoji-'] {
    justify-content: center;
    text-align: center;
  }
  
  .theme-dark .section-28YDOf > div,
  .theme-dark .container-3g15px,
  .theme-dark .userInfoText-2MFCmH,
  .theme-dark .memberSinceContainer-2CBD23 > div {
    backdrop-filter: brightness(1.5);
  }
  
  .theme-light .section-28YDOf > div,
  .theme-light .container-3g15px,
  .theme-light .userInfoText-2MFCmH,
  .theme-light .memberSinceContainer-2CBD23 > div {
    backdrop-filter: brightness(0.925) saturate(1.5);
  }
  
  .divider-MZkkle {
    background: var(--profile-body-divider-color);
  }
  
  .platformIcon-k3yytQ {
    margin: 2px 2px;
  }
  
  
