[class*=profileBadges-] {
  background-color: transparent !important;
  position: relative;
  align-self: center;
  margin-top: 10px;
  top: 25px;
  left: 0; right: 0;
  max-width: 100%;
} 

.bannerSVGWrapper-2CLfzN circle{
  display: none;
}
.avatarWrapper-eenWra, .avatar-3QF_VA {
  left: 50%;
  transform: translateX(-50%);
}

.badgeList-2aoHPw
{
  position: relative;
  align-self: center;
  margin-top: 10px;
  right: 25%;
}

.headerTop-1PNKck
{
  top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.relationshipButtons-3ByBpj
{
  position: relative;
  align-self: center;
  margin-top: 10px;
  right: 25%;
}

[class*=icon-][class*=aboutMeGuildIcon-] {  display: none;  }

[class*=section-] > div:not([class*=roles-]) {
  border-radius: 0.75em;
  padding: 0.5em;
}

[class*=section-] > div:not([class*=activityUserPopoutV2-], [class*=roles-])  {
  position: relative;
  justify-content: center;
  text-align: center;
}
